@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&family=Ubuntu&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.loginPage {
    /* background-color: #4158D0;
    color: #000000;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 30%, #FFCC70 66%); */

  background-image: url("../../Assets/bgLogin.jpg");
  background-size: cover;
}


.trans {
    color: rgb(53, 34, 71);
    cursor: pointer;
    /* padding-top: 20px; */
    font-size: 14px;
}
.trans:hover {
    color: white;
}

